.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.col-md-3 {
    background-color: #EEEEEE;
    color: black;
    padding: 20px;
    text-align: center;
    flex: 0 0 calc(25% - 10px);
}

.col-md-6 {
    background-color: dimgray;
    color: white;
    padding: 20px;
    text-align: center;
    flex: 0 0 calc(50% - 10px);
}