.icoon {
    display: inline-block;
    padding-left: 24px;
    background-image: url('Image/ytLogo.png');
    background-position: left center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

.icon-link:hover {
    text-decoration: underline;
}