/* items */
div div {
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-size: 3em;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 10px;
}

/* specific item styles */
.item-1 {
    background: #b03532;
    grid-area: 1;
}
.item-2 {
    background: #33a8a5;
    grid-area: 1;
}
.item-3 {
    background: #30997a;
    grid-area: 1;
}
.item-4 {
    background: #6a478f;
    grid-area:2;
}
.item-5 {
    background: #da6f2b;
    grid-area:2;
}
.item-6 {
    background: #3d8bb1;
    grid-area: 2;
}
.item-7 {
    background: #e03f3f;
    grid-area:3;
}
.item-8 {
    background: #59a627;
    grid-area: 3;
}
.item-9 {
    background: #4464a1;
    grid-area: 3;
}

@media screen and (max-width: 760px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .item-9 { grid-column: 1; grid-row: 1; }
    .item-2 { grid-column: 2; grid-row: 1; }
    .item-4 { grid-column: 1; grid-row: 2; }
    .item-5 { grid-column: 2; grid-row: 2; }
    .item-7 { grid-column: 1; grid-row: 3; }
    .item-8 { grid-column: 2; grid-row: 3; }
    .item-3 { grid-column: 1 / span 2; grid-row: 4; }
    .item-6 { display: none; }
    .item-1 { display: none; }

}