.checklist {
    list-style: none;
    padding-left: 0;
}

.checklist li {
    padding-left: 24px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;
    line-height: 1.6;
}

.checklist li {
    background-image: url('Images/leeg.png');
}

.checklist li.checked {
    background-image: url('Images/check.png');
}